@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #D72050;
  --color-base-200: #E9E9E9;
  --color-base-300: #D9D9D9;
  --color-accent: #001931;
  --color-accent-content: #627382;
}

.myNavLink{
  @apply text-lg font-semibold border-b-2 border-white 
}
.myNavLink:hover{
  @apply bg-linear-to-r from-blue-500 to-red-500 bg-clip-text text-transparent bg-white
}
.myNavLink.active{
  @apply border-blue-500 bg-linear-to-r from-blue-500 to-red-500 bg-clip-text text-transparent
}

*{
  font-family: "Inter", sans-serif;
}

.btn-primary {
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] border-none
}
.btn-primary:hover{
  @apply opacity-90
}